body{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif; 
    background-color:white;
}
header{
    background-color: #2D25A0;
}
/* banner */
.banner{
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}
.banner-text{
    margin-left: 100px; 
}
.banner h1{
    font-size: 64px;
    color: white;
}
.banner img{
    width: 556px;
    height: 438px;
    margin-left: 100px;
    margin-top: 50px;   
}
.button{
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 12px 25px;
}
.button:hover{
    font-weight: 700;
    background-color: chartreuse;
    color: black;
}

/* main-section */
.container{
margin: 0px 100px 20px 100px;
}

.player-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 25px 25px;
    margin-top: 50px;
}
.card{
    box-shadow: gray 3px 3px 20px;
    padding: 15px 10px;
}
.card img{
    width: 300px;
    height: 256px;
    display: block;
    width: 100%;
}
.card h3{
    font-size: 28px;
    font-weight: 700;
}

/* champion section */
.champion-header, .album-header{
    font-size: 40px;
    font-weight: 700;
    margin-top: 50px;
}
.champion{
    display: flex;
}
.champion img{
    width: 100%;
    padding: 10px 10px;
}
.champion-text{
    margin-left: 40px;
}

/* album part */
.album-box{
    display: flex;
    padding: 10px 10px; 
}
.album img{
    width: 100%;
}
.album1{
    margin: 8px;
}
.album{
    margin-bottom: 100px;
}
/* footer */

.footer-logo img{
    width: 20%;
}
.fa-brands{
    background-color: rgba(230, 229, 229, 0.836);
    border-radius: 100%;
    padding: 5px;
    color: gray;
}
.footer-content{
    text-align: center;
    margin-bottom:30px;
}

/*---------------------
    media query 
-----------------------*/

/*---------------------
    mobile
-----------------------*/
@media screen and (max-width:688px) {
    .banner{
        display: block;
        width:50%;
    }
    .banner-text{
        margin: 10px;
    }
    .banner img{
        width: 400px;
        height: 300px;
    }
    .player-cards{
        grid-template-columns: repeat(1,1fr);
    }

    .champion{
        display: block;
    }
    .album-box{
        display: block;
    }
    
}

/*---------------------
        tablet
-----------------------*/

@media screen and (max-width:768px) {

    .banner{
        display: block;
        width:50%;
    }
    .banner-text{
        margin: 10px;
    }
    .banner img{
        width: 400px;
        height: 300px;
    }
    .player-cards{
        grid-template-columns: repeat(2,1fr);
    }

    .champion{
        display: block;
    }
    .album-box{
        display: block;
    }
    }

    /* Thank You */